@import "settings";
@import "foundation";


ul, ol {
  margin-left: 3em;
}

//colours from styletiles
$mirkwoodmoss: #5B6150;
$sage: #8A915D;
$martiniolive: #B9C051;
$starfruit: #E9EF00;
$lime: #CFE700;
$dulguldur: #6D6F71;
$tangerine: #FC9705;

article img {
  padding: .125em;
  border: .875em solid $dulguldur;
  background: #eee;
}

.fancy-border {
  background: transparent url('../images/border.png') repeat-x left bottom;
  padding-bottom: .125em;
  margin-bottom: .25em;
}

body {
  color: $dulguldur;
}

.colours ul { 
  li {
    height: 6em;
    width: 6em;
    margin: 0 1em 1em 0;
    font-size: .75em;
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 2em 1em;
    
    &.mirkwoodmoss {
      background-color: $mirkwoodmoss;
      color: white;
    }
    
    &.sage {
      background-color: $sage;
      color: black;
    }
    
    &.martiniolive {
      background-color: $martiniolive;
      color: black;
    }
    
    &.starfruit {
      background-color: $starfruit;
      color: black; 
    }
    
    &.lime {
      background-color: $lime;
      color: black; 
    }
    
    &.dulguldur {
      background-color: $dulguldur;
      color: white; 
    }
    
    &.tangerine {
      background-color: $tangerine;
    }
    
  }
}

.navigation .title-area h1 img {
  padding-right: .5em;
}

body.front {
  background: white url('/images/square-bg.png') repeat -20px -20px;
  text-align: center;
  
  #introduction {
    max-width: 60em;
    margin: 0 auto;
    
    h1 {
      font-weight: 300;
      strong {
        font-weight: 700;
        font-size: 2em;
        text-transform: uppercase;
        display: block;
        letter-spacing: -.06em;
        line-height: 1.3;
        margin-top: .5em;
      }
    }
    
    .cta {
      font-size: 1.5em;
      margin-top: 1em;
    }
  }
  
}


footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  background: $primary-color;
  color: white;
}

