@import "compass/reset";
@import "compass/css3";

@mixin blocktext{
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  letter-spacing: -.06em;
}

@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}