body.forge {
  text-align: left;
  color: white;
  background: #000;



  header {
    text-align: center;
    background: #000 url('../images/forge-bg.jpg') no-repeat bottom center /150%;
    padding: 1em 0 0;

    @include media($mobile) {
      background: #000 url('../images/forge-bg.jpg') no-repeat 30% 0 /300%;
      margin: 0 -1rem;
      padding: 1rem;
    }


    img.logo {
      margin-top: 1em;
      min-height: 50vh;
      margin: 0 auto;
    }

    h1 {
      margin-top: 1em;
      text-align: left;
      background: #fd8703;
      margin: .5rem -1rem;
      padding: 1rem;

      @include media($medium-screen-up) {
        margin: 1rem 0;
      }

      @include media($mobile) {
        font-size: 1.5rem;
      }

    }

  }

  .content {

    font-size: 1.5em;

    @include media($medium-screen-up) {
      padding: 1rem;
    }

    @include media($mobile) {
      font-size: 1rem;
    }

    a:link, a:visited {
      color: orange !important;
    }

    a:hover, a:active {
      color: yellow !important;
    }

  }

}
