<nav class="navigation top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/"><img src="/images/1color-logo.png" height="32" width="32" alt="">Cowork Niagara</a></h1>
    </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
      <li class="good-fit"><a href="/is-it-for-me.html" title="Is coworking a good fit for you?">Is it for me?</a></li>
      <li class="values"><a href="/our-values.html">Our values</a></li>
      <li class="contact"><a href="/contact.html">Contact us</a></li>
      <li class="contact"><a href="/coworking-space.html">The Space</a></li>
    </ul>
  </section>
</nav>
