<nav class="navigation top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/"><img src="/images/1color-logo.png" height="32" width="32" alt="">Cowork Niagara</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
      <li class="values"><a href="/our-values.html">Our values</a></li>
      <li class="good-fit"><a href="/is-it-for-me.html" title="Is coworking a good fit for you?">Is is for me?</a></li>
      <li class="roadmap"><a href="/roadmap.html" title="List of upcoming milestones">Roadmap</a></li>
      <li class="how"><a href="#">How</a></li>
      <li class="blog"><a href="/blog.html">Blog</a></li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>
  </section>
</nav>
<header>
</header>