<header>
  <div class="priority-updates row">
    <p class="small-12 large-4 columns">Get meeting notices, productivity tips and special offers by signing up for Cowork Niagara priority updates.</p>
    <!-- Begin MailChimp Signup Form -->
    <div class="cta small-12 large-8 columns">
      <div class="row">
        <form action="http://coworkniagara.us8.list-manage.com/subscribe/post?u=7cb3c2422ab35353d3c8d951b&amp;id=d184510d0f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      	<div id="mce-responses" class="clear">
      		<div class="response" id="mce-error-response" style="display:none"></div>
      		<div class="response" id="mce-success-response" style="display:none"></div>
      	</div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_7cb3c2422ab35353d3c8d951b_d184510d0f" value=""></div>
        <div class="mc-field-group small-6 large-8 columns">
        	<label for="mce-EMAIL">Email Address </label>
        	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
      	<div class="subscribe small-6 large-4 columns"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </form>
      <!--End mc_embed_signup--> 
    </div>
    </div>
  </div>
</header>