---
title: Governance of Cowork Niagara
directory_index: false
---

<div class="section">
  <h2>Governance</h2>

  <p>
    Below you will find the documents that Cowork Niagara uses for governance.
  </p>

  <ul>
    <li><a href="/files/BOD_Nom_Form_2016.pdf">Board Nomination Form - 2016</a></li>
    <li><a href="/files/Policy-Procedures-Board-Member-Election.pdf">Policy and Procedures for Election of Board Members</a></li>
  </ul>
</div>
