<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
  {% include scripts_top.html %}
  {% include styles.html %}
</head>
<body class="{{ page.pageclass }}">
  {% include header.html %}
  <div class="page large-12 columns">
    {{ content }}
  </div>
  {% include footer.html %}
  {% include scripts_bottom.html %}
</body>
</html>