<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{ page.title }} | Cowork Niagara Blog</title>
  <meta name="description" content="{{ page.description }}">
  {% include scripts.html %}
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/app.css" />
</head>
<body>
  <div class="post">
    {% include header.html %}
    <div class="article">
      {{ content }}
    </div>
    {% include sidebar.html %}
    {% include footer.html %}
  </div>
</body>
</html>
