<div class="footer">
  <div class="section">
    <div class="niagara-coop-network">
      <img src="/images/niagara-coop-network.svg">
    </div>
    <div class="links">
      <img src="/images/logo_transparent.png">

      <%= partial "navigation.html" %>

      <!--<p>Copyright &copy; 2014 Cowork Niagara</p>-->
    </div>
  </div>
</div>
