---
title: Events &amp; Activities
---

<div class="section">
  <p>
    Cowork Niagara organizes and hosts events for our members and independent
    professionals who want to learn from each other about their industries.
    Whether you’re a writer, developer, designer or other creative entrepreneur,
    you’ll learn practical tips and tricks you can apply to your business. As a
    volunteer-based co-operative coworking space, these events can only happen
    with the continuing support of our members.
  </p>

  <h3>OpenHackSTC</h3>
  <p>
    <a href="http://openhack.github.io/st_catharines/" target="_new">Website</a>
  </p>

  <p>
    When: Fourth Monday of each month from 6:30 p.m. to 9:30 p.m.
  </p>

  <p>
    This event is organized by Software Niagara and hosted in partnership with
    Cowork Niagara. If you’ve got a web development project to work on or are
    just looking to get involved, this is the event for you. Hack alone or work
    with a group on anything you want – all languages, frameworks or licenses
    welcome. Food is free (usually pizza), but please bring your own
    (non-alcoholic) drinks. We’ll begin with a round of introductions. OpenHack
    is open to everyone – members and non-members.
  </p>

  <h3>DevTricks</h3>
  <p>
    <a href="http://www.softwareniagara.com/" target="_new">Website</a>
  </p>

  <p>
    When: Second Monday of each month at 7 p.m.
  </p>

  <p>
    This event is organized by Software Niagara and hosted in partnership with
    Cowork Niagara. We line up a few developers for each event to teach the
    programming languages, frameworks, tools &amp; tips that make them productive.
    DevTricks is open to everyone – members and non-members.
  </p>

  <h3>BizTricks</h3>
  <p>
    When: Third Wednesday of each month at 7 p.m.
  </p>

  <p>
    Five business people take five minutes each to share one tip to help you in
    your own business. We talk about everything from software and project
    management to productivity hacks and business development. BizTricks is open
    to everyone – members and non-members.
  </p>

  <h3>WriteTricks</h3>
  <p>
    When: Fourth Thursday of each month at 7 p.m.
  </p>

  <p>
    Passionate writers share tricks of the trade to help each other write more
    effectively and communicate better with readers. WriteTricks is open to
    everyone – members and non-members.
  </p>

  <h3>Unstuck</h3>
  <p>
    As a small business, independent or freelancer, what keeps you up at night,
    worrying you, stuck in your brain, unable to fix? What things when you think
    about them cause your heart to race, and make you wonder if you will ever
    get through it? At Unstuck, we help you get through that stuff. We’re
    planning the first event of this series. We're launching this event in
    November 2014.
  </p>

  <p>AND our Coworking Meet-ups:</p>

  <h3>Monday Night Coworking</h3>
  <p>Each Monday at 6:30 p.m. at Cowork Niagara</p>

  <h3>Wednesday Afternoon Coworking</h3>
  <p>Each Wednesday at 1 p.m. at Mahtay Cafe</p>

  <p>
    Come work with fellow creatives, bounce ideas off one another, solve problems
    and share successes.
  </p>

  <p>
    Pick an event and come out – <em>we’d love to meet you</em>.
  </p>
</div>
