---
title: Events &amp; Activities
directory_index: false
---

<div class="section">
  <p>
    Cowork Niagara organizes and hosts events for our members and independent
    professionals who want to learn from each other about their industries.
    Whether you’re a writer, developer, designer or other creative entrepreneur,
    you’ll learn practical tips and tricks you can apply to your business. As a
    volunteer-based co-operative coworking space, these events can only happen
    with the continuing support of our members.
  </p>

  <p>
    Pick an event and come out – <em>we’d love to meet you</em>.
  </p>

  <p>
    <em>All events are held at <%= link_to "Cowork Niagara", "/find-us.html" %> unless otherwise noted!</em>
  </p>


  <h2>Regular Events</h2>
  <div class="event">
    <a href="http://openhack.github.io/st_catharines/" target="_new" class="event-logo">
      <img src="/images/events/openhack.png" alt="OpenHackSTC">
    </a>

    <div class="event-details">
      <h3>OpenHackSTC</h3>
      <dl>
        <dt>Website</dt>
        <dd><a href="http://openhack.github.io/st_catharines/" target="_new">Website</a></dd>

        <dt>When</dt>
        <dd>Fourth Monday of each month from 6:30 p.m. to 9:30 p.m.</dd>

        <dt>Admission</dt>
        <dd>FREE</dd>

        <dt>RSVP Required?</dt>
        <dd><a href="http://openhackstc.eventbrite.com/" target="_new">Yes please!</a></dd>
      </dl>

      <p>
        This event is organized by Software Niagara and hosted in partnership with
        Cowork Niagara. If you’ve got a web development project to work on or are
        just looking to get involved, this is the event for you. Hack alone or work
        with a group on anything you want – all languages, frameworks or licenses
        welcome. Food is free (usually pizza), but please bring your own
        (non-alcoholic) drinks. We’ll begin with a round of introductions. OpenHack
        is open to everyone – members and non-members.
      </p>
    </div>
  </div>

  <div class="event">
    <a href="http://www.softwareniagara.com/" target="_new" class="event-logo">
      <img src="/images/events/devtricks.png" alt="DevTricks">
    </a>

    <div class="event-details">
      <h3>DevTricks</h3>
      <dl>
        <dt>Website</dt>
        <dd><a href="http://www.softwareniagara.com/" target="_new">softwareniagara.com</a></dd>

        <dt>When</dt>
        <dd>Second Monday of each month at 7 p.m.</dd>

        <dt>Admission</dt>
        <dd>FREE</dd>

        <dt>RSVP Required?</dt>
        <dd>No</dd>
      </dl>

      <p>
        This event is organized by Software Niagara and hosted in partnership with
        Cowork Niagara. We line up a few developers for each event to teach the
        programming languages, frameworks, tools &amp; tips that make them productive.
        DevTricks is open to everyone – members and non-members.
      </p>
    </div>
  </div>

  <div class="event">
    <div class="event-logo">
      <img src="/images/events/biztricks.png">
    </div>

    <div class="event-details">
      <h3>BizTricks</h3>
      <dl>
        <dt>When</dt>
        <dd>Third Wednesday of each month at 7 p.m.</dd>

        <dt>Admission</dt>
        <dd>FREE</dd>

        <dt>RSVP Required?</dt>
        <dd><a href="#" target="_new">Yes please!</a></dd>
      </dl>

      <p>
        Five business people take five minutes each to share one tip to help you in
        your own business. We talk about everything from software and project
        management to productivity hacks and business development. BizTricks is open
        to everyone – members and non-members.
      </p>
    </div>
  </div>

  <div class="event">
    <div class="event-logo">
      <img src="/images/events/writetricks.png">
    </div>

    <div class="event-details">
      <h3>WriteTricks</h3>
      <dl>
        <dt>When</dt>
        <dd>Fourth Thursday of each month at 7 p.m.</dd>

        <dt>Admission</dt>
        <dd>FREE</dd>

        <dt>RSVP Required?</dt>
        <dd><a href="#" target="_new">Yes please!</a></dd>
      </dl>

      <p>
        Passionate writers share tricks of the trade to help each other write more
        effectively and communicate better with readers. WriteTricks is open to
        everyone – members and non-members.
      </p>
    </div>
  </div>

  <div class="event">
    <div class="event-logo">
      <img src="/images/events/unstuck.png">
    </div>

    <div class="event-details">
      <h3>Unstuck</h3>
      <p>
        As a small business, independent or freelancer, what keeps you up at night,
        worrying you, stuck in your brain, unable to fix? What things when you think
        about them cause your heart to race, and make you wonder if you will ever
        get through it? At Unstuck, we help you get through that stuff. We’re
        planning the first event of this series. We're excited to be launching in 2015,
        <a href="http://eepurl.com/bcJipv" target="_new">Sign up here to pre-register</a>.
      </p>
    </div>
  </div>
</div>
