---
title: Welcome to Niagara's First Coworking Community
---

<div class="welcome">
  <div class="color-overlay">
    <div class="section">
      <div class="logo">
        <img src="/images/logo_transparent.png">
      </div>

      <div class="navigation">
        <%= partial "navigation.html" %>
      </div>
    </div><!--/ .section -->

    <div class="section">
      <div class="hero">
        <h1>
          <strong>Cowork Niagara</strong> is a shared space where freelancers, social
          entreprenuers and non-profit groups work, collaborate, and make awesome stuff
          together.
        </h1>

        <div class="call-to-action">
          <button>Call to Action</button>
        </div>
      </div>
    </div><!--/ .section -->
  </div><!--/ .color-overlay -->
</div><!--/ .welcome -->

<div class="section">
  <p>Lorem ipsum</p>

  <p>Blah blah blah</p>
  <p>Blah blah blah</p>
  <p>Blah blah blah</p>
  <p>Blah blah blah</p>
  <p>Blah blah blah</p>
</div>

<div class="section">

</div>
