---
title: Join Cowork Niagara
---
<div class="section">
  <p class="values">
    We believe that the true potential of creative, independent knowledge workers
    is unlocked when our ideas and work have the opportunity to cross pollinate
    with the work of our peers in a shared space.
  </p>
  <p>
    Join a group of brilliant, passionate, independent creatives who are helping
    transform Niagara’s economic landscape.
  </p>
</div>
<div class="section reasons">
  <p>Here are a few reasons to join:</p>
</div>
<div class="section">
  <h2>Members earn more</h2>
  <p>
    People who join a coworking space improve their income more quickly than
    those who do not. (CITE THIS STAT?) We provide an environment where
    members learn from and collaborate with one another.
  </p>
</div>
<div class="section">
  <h2>Interact and collaborate with other entrepreneurs</h2>
  <p>
    Cowork Niagara is a shared space where freelancers, social entrepreneurs
    and non-profit groups work, collaborate and make awesome stuff together.
    Interact with people from a wide range of industries in a zero-pressure
    environment. We believe in building lasting business relationships,
    exchanging ideas and spreading knowledge to help you grow personally
    and professionally.
  </p>
</div>
<div class="section">
  <h2>You get a vote</h2>
  <p>
    Each of our members gets an equal vote in decisions about Cowork
    Niagara’s future. You can help steer the direction of Niagara’s first and
    only cooperative coworking space. Attend our Annual General Meeting
    to stay up to date on what’s happening.
  </p>
</div>
<div class="section">
  <h2>Together we have a stronger voice.</h2>
  <p>
    Part of being an entrepreneur is working with elected officials and groups
    at all levels of government to make Niagara more business-friendly. Add
    your voice to our collective efforts and take part in conversations about
    open data, transparency, our startup culture, the local cooperative movement
    and much more.
  </p>
</div>
<div class="section">
  <h2>Professional development made just for you</h2>
  <p>
    Cowork Niagara offers the region’s largest calendar of independently
    focused events. We organize educational, interactive, fun free and
    members-only events and meet-ups for entrepreneurs in the marketing,
    sales, web and software development industries. Whether it’s a
    Hamilton-Niagara Drupal group meet-up, DevTricks (for developers),
    WriteTricks (for writers), a Sales Crafting meeting or one of our
    many others, you can find or create your niche.
  </p>
</div>
<div class="section">
  <p>
    Become part of Cowork Niagara’s thriving community. <%= link_to "Sign up today", "/join.html" %>.
  </p>
</div>
