---
title: Join Cowork Niagara
directory_index: false
---
<div class="section join">
  <p class="values">
    If you also believe that the true potential of creative, independent knowledge workers
    is unlocked when our ideas and work have the opportunity to cross pollinate
    with the work of our peers in a shared space, then you should become part of Niagara's
    independent workforce.
  </p>
  <p>
    Join a group of brilliant, passionate, independent creatives who are helping
    transform Niagara’s economic landscape.
  </p>
  <div class="subsection reasons">
    <p>
      Become part of Cowork Niagara’s thriving community.
      <a href="http://join.coworkniagara.com" target="_new">Sign up today!</a>
    </p>
    <p>Here are a few reasons to join:</p>
  </div>
</div>

<div class="section supporting">
  <div class="subsection">
    <h2>Flexible Pricing</h2>
    <p>
      We have a number of pricing options to suit how you'll use the space.
    </p>

  <ul class="bullets space-pricing">
    <li class="bullet">
      <div class="bullet-icon bullet-icon-1">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png
  " alt="">
      </div>
      <div class="bullet-content">
        <h2>Unlimited use</h2>
        <p>Hot desk space all day, every day. Key access.</p>
        <p class="price"><strong>$100</strong> per month</p>
        <p class="details">On a monthly plan</p>
        </div>
    </li>
    <li class="bullet">
      <div class="bullet-icon bullet-icon-2">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
      </div>
      <div class="bullet-content">
        <h2>Light use</h2>
        <p class="description">
            You pick the one day a week to use the space. We save you a seat.
        </p>
        <p class="price"><strong>$50</strong> per month</p>
        <p class="details">On a monthly plan</p>
      </div>
    </li>
    <li class="bullet">
      <div class="bullet-icon bullet-icon-3">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4.png" alt="">
      </div>
      <div class="bullet-content">
        <h2>Dedicated Desk</h2>
        <p>A place to call your own for as long as you need it.</p>
        <p class="price"><strong>$200</strong> per month</p>
        <p class="details">On a monthly plan</p>
      </div>
    </li>
  </ul>
  </div>
  <div class="subsection">
    <h2>Members earn more</h2>
    <p>
      People who join a coworking space improve their income more quickly than
      those who do not (Source: <a href="http://www.deskmag.com/en/the-coworking-market-report-forecast-2014" target="_new">Deskmag - The Coworking Market Report Forecast 2014</a>).
      We provide an environment where members learn from and collaborate with one another.
    </p>
  </div>
  <div class="subsection">
    <h2>Interact and collaborate with other entrepreneurs</h2>
    <p>
      Cowork Niagara is a shared space where freelancers, social entrepreneurs
      and non-profit groups work, collaborate and make awesome stuff together.
      Interact with people from a wide range of industries in a zero-pressure
      environment. We believe in building lasting business relationships,
      exchanging ideas and spreading knowledge to help you grow personally
      and professionally.
    </p>
  </div>
  <div class="subsection">
    <h2>You get a vote</h2>
    <p>
      Each of our members gets an equal vote in decisions about Cowork
      Niagara’s future. You can help steer the direction of Niagara’s first and
      only cooperative coworking space. Attend our Annual General Meeting
      to stay up to date on what’s happening.
    </p>
  </div>
  <div class="subsection">
    <h2>Together we have a stronger voice</h2>
    <p>
      Part of being an entrepreneur is working with elected officials and groups
      at all levels of government to make Niagara more business-friendly. Add
      your voice to our collective efforts and take part in conversations about
      open data, transparency, our startup culture, the local cooperative movement
      and much more.
    </p>
  </div>
  <div class="subsection">
    <h2>Professional development made just for you</h2>
    <p>
      Cowork Niagara offers the region’s largest calendar of independently
      focused events. We organize educational, interactive, fun free and
      members-only events and meet-ups for entrepreneurs in the marketing,
      sales, web and software development industries. Whether it’s a
      Hamilton-Niagara Drupal group meet-up, DevTricks (for developers),
      WriteTricks (for writers), a Sales Crafting meeting or one of our
      many others, you can find or create your niche.
    </p>
  </div>
  <div class="subsection">
    <p>
      Become part of Cowork Niagara’s thriving community.
      <a href="http://join.coworkniagara.com" target="_new">Sign up today!</a>
    </p>
  </div>
</div>
