---
title: Join Niagara's independent workforce and receive a free three-day pass.
---
<div class="section not-alone">
  <h1>You might be independent, but you're not alone.</h1>
  <p>Join Cowork Niagara today and qualify for a three-day trial pass so that you can see for yourself how joining Niagara's coworking community can improve your earnings by up to 30%.</p>
  <p><a class="cta" href="http://forms.coworkniagara.com/forms/threeday">Sign up for my three-day trial.</a></p>
  <p>Still unsure? No problem; we get it. All of us have been where you are right now.</p>
  <ul class="questions">
    <li>
      <h2>Is coworking a good fit for me?</h2>
      <p>Are you a freelancer? Solopreneur? Micro-Enterprise? Single-person small business? Professional practice?</p>
      <p>All these terms describe members of the independent workforce, and if you connect with any of these
      (or even one we haven't heard of yet), then it might be a good fit. Almost all of our members work independently in some manner. That's why we know the value of a strong community.</p>
    </li>
    <li>
      <h2>Does this sound like it fits? Find out for sure with a free three-day trial pass.</h2>
      <p>We know that if you spend three days with us, you'll know everything you need to know to make your decision. Just give us your name and email and the pass is yours.</p>
    </li>
  </ul>
  <p><a class="cta" href="http://forms.coworkniagara.com/forms/threeday">Get my free 3-day pass now.</a></p>
</div>
<div class="section promotional">
  <p>This promotion was made possible with the support of:</p>
  <ul class="sponsors">
    <li class="nwpb">
      <a href="http://www.niagaraworkforce.ca" rel="nofollow">
        <img src="/images/nwf-logo-final.png" alt="Niagara Workforce Planning Board">
      </a>
    </li>
    <li class="eo">
      <a href="http://www.tcu.gov.on.ca/eng/employmentontario" rel="nofollow">
        <img src="/images/employment-ontario.svg" alt="Employment Ontario">
      </a>
    </li>
  </ul>
</div>
