---
title: Join Niagara's independent workforce today.
---
<div class="section not-alone">
  <h1>You might be independent, but you're not alone.</h1>
  <p>Join Cowork Niagara today and qualify for a three-day trial pass so that you can see for yourself how joining Niagara's coworking community can improve your earnings by up to 30%.</p>
  <p><a href="join.html">Sign up for my three-day trial.</a></p>
  <p>Still unsure? No problem; we get it. We put the most common questions below, so feel free to explore and sign up when you're ready.</p>
  <ul class="questions">
    <li>
      <h2>Is coworking a good fit for me?</h2>
      <p>Are you a freelancer? Solopreneur? Micro-Enterprise? Single-person small business? Professional practice?
      All these terms describe members of the independent workforce, and if you connect with any of these
      (or even one we haven't heard of yet), then it might be a good fit.</p>
      <p>Either way, you won't really know until you get started. So come out to some events and some of our
      free sessions to see if it's a good fit before you join.</p>
    </li>
    <li>
      <h2>What does it cost?</h2>
      <p>You can <a href="join.html">find the costs on our pricing page</a>. There's an annual fee to be a member, and there's also
      a fee to use the space if you decide that's a good fit too.</p>
    </li>
    <li></li>
  </ul>
</div>
