---
title: Your 3-day pass is on its way.
---
<div class="section threeday-thanks">
  <h1>Thank you for deciding to try Cowork Niagara</h1>
  <p>A member from our outreach committee will be in touch shortly. Feel free to ask them any questions you have about being a member or what it's done for them. We are all here to help you!</p>
  <p>Did you know we have a Facebook Group? If you haven't joined, that's a great next step.</p>
  <p><a class="cta" href="https://www.facebook.com/groups/coworkingniagara/">Join the Cowork Niagara Facebook Group</a></p>
</div>
